{% extends "base.html" %}

{% block title %}Inventory Management System{% endblock %}

{% block body %} 

<div class="p-3 mb-2 bg-info">
    <div class="well text-center">
        <h1>Inventory Management System</h1>
    </div>
</div>
<div class="nav">
    <div class="col md-12">
        <div class="jumbotron p-3 bg-dark ">
            
                <div class="d-flex justify-content-around">

                <a href="/home">Home</a>
                <a href="/products">Products</a>
                <a href="/locations">Locations</a>
                <a href="/movements">Movements</a>

                </div>
    </div>
</div>
</div>

{% endblock %}